@{
Layout = "~/Shared/_Layout.cshtml";
Page.Title = "Frogs";
Page.AnyProperty = "foo";
}
<p>Content page paragraph 1.</p>
<p>Content page paragraph 2: Sensitive static properties from _AppStart.cshtml: WebMail.SmtpServer: @WebMail.SmtpServer</p>