@{Layout="~/Shared/_Layout.cshtml";}

<h3>Welcome to WebPages</h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi ut aliquip ex ea commodo consequat.
</p>

<p>Trying to access sensitive static properties. EG: WebMail.SmtpServer: @WebMail.SmtpServer</p>

<p><a href="../">UP</a></p>