@{
    // On most pages:
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Database";
    Page.Summary = "This page is testing interacting with databases.";

    // Page specific:
    var db = Database.Open("SmallBakery"); 
    var sql = "SELECT * FROM Product ORDER BY Price";
    //data source="C:\Users\ghernandez.ICLOPS\Documents\My Web Sites\WebSite1\App_Data\SmallBakery.sdf"
}

<table> 
    <tr>
        <th>Id</th> 
        <th>Product</th> 
        <th>Description</th> 
        <th>Price</th> 
    </tr>
    @foreach(var row in db.Query(sql)) {
    <tr> 
        <td>@row.Id</td> 
        <td>@row.Name</td> 
        <td>@row.Description</td> 
        <td align="right">@row.Price</td> 
    </tr> 
    }
</table>
