@{
    
}
<!DOCTYPE html>

<html lang="en">
<head>
     <meta charset="utf-8" />
</head>
<body>
     @RenderPage("~/Shared/_Header.cshtml")
     <p>The time is @DateTime.Now</p>
    <!-- Single statement block -->
    @{ var myMessage =	"Hello World"; }

    <!-- Inline expression or variable -->
    <p>The value of myMessage is: @myMessage</p> 

<!--	Multi-statement block -->
@{
var greeting = "Welcome to our site!";
var weekDay = DateTime.Now.DayOfWeek;
var greetingMessage = greeting + " Today is: " + weekDay;
}
    <p>The greeting is: @greetingMessage</p>
    
    <p>Links:</p>
    <ul>
        <li><a href="Content.cshtml">Content.cshtml</a></li>
        <li><a href="Form.cshtml">Form.cshtml</a></li>
        <li><a href="DisplayImage.cshtml">DisplayImage.cshtml</a></li>
    </ul>
</body>
</html>