@{
Page.Title = "WebSite1";
Page.Summary = "This site is for testing ASP.NET WebPages with Razor.";
}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
</head>

<body>
    <h1>@Page.Title</h1>
    <p>@Page.Summary</p>
    <hr>
    <ul>
        <li><a href="Content.cshtml">Content.cshtml</a></li>
        <li><a href="Form.cshtml">Form.cshtml</a></li>
        <li><a href="DisplayImage.cshtml">DisplayImage.cshtml</a></li>
        <li><a href="DataFromTextFile.cshtml">DataFromTextFile.cshtml</a></li>
        <li><a href="Database.cshtml">Database.cshtml</a></li>
        <li><a href="DatabaseIris.cshtml">DatabaseIris.cshtml</a></li>
    </ul>
</body>
