@{
    // On most pages:
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Form.cshtml";
    Page.Summary = "This page tests a simple form that collects info and redisplays it.";

    // Page specific:
    if (IsPost) { 
        string companyname = Request["companyname"]; 
        string contactname = Request["contactname"]; 
        <p>You entered: <br>
        Company Name: @companyname <br>
        Contact Name: @contactname </p>
    } else {
        <form method="post" action="">
        Company Name:<br>
        <input type="text" name="CompanyName" value="" /><br>
        Contact Name:<br>
        <input type="text" name="ContactName" value="" /><br><br>
        <input type="submit" value="Submit" class="submit" />
        </form>
    }
}
