<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.cshtml" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".cshtml" mimeType="text/html" />
        </staticContent>
    </system.webServer>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
    <connectionStrings>
        <add name="cnnIrisDeve"
            providerName="System.Data.SqlClient"
            connectionString="Data Source=Dev01\prod_iris01;Initial Catalog=dbICLOPS;Integrated Security=False;User Id=comiclops;Password=Gaq735d~wF3hg6Xs.T2[ut[8;MultipleActiveResultSets=True" />
    </connectionStrings>
</configuration>
