@{}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
    <body>
        <h1>@Page.Title</h1>
        @RenderBody()
        <hr>
        <p><a href="../">UP</a></p>
    </body>
</html>
