@{
    
}<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @RenderPage("~/Shared/_Header.cshtml")
        <h2>Header from Layout</h2>
        @RenderBody()
        <p>Footer from Layout</p>
    </body>
</html>
